body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    background-color: beige;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form label {
    margin-bottom: 5px;
    text-align: left;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #131111;
    border-radius: 4px;
}
.botonera{
    display: flex;
}

.buton {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buton:hover {
    background-color:gray;
}
